{{#if resume.education.length}}
<section class="education">
    {{> section-heading icon="graduation-cap" value="Education"}}

    {{#each resume.education}}
        <section class="institution">
            <div class="column">
                <div class="row stretch">
                    <div class="column fill">
                        {{#if institution}}
                            <h3 class="bold">
                                {{#if this.url}}
                                    <a href="{{url}}" target="_blank">{{institution}}</a>
                                {{else}}
                                    {{institution}}
                                {{/if}}
                            </h3>
                        {{/if}}

                        <h4>
                            {{#if studyType}}{{studyType}}{{/if}}
                            {{#if area}} {{area}}{{/if}}
                            {{#if score}} ({{score}}){{/if}}
                        </h4>
                    </div>

                    <div class="column end">
                        {{#if startDate}}
                            <h6>
                                <i class="fa fa-calendar"></i>
                                <span class="startDate">{{formatDate startDate}}</span>
                                {{#if endDate}}
                                <span class="endDate"> - {{formatDate endDate}}</span>
                                {{else}}
                                <span class="endDate"> - Present</span>
                                {{/if}}
                            </h6>
                        {{/if}}

                        {{#if duration}}
                            <h6>
                                <i class="fa fa-clock-o"></i>
                                <span>{{duration}}</span>
                            </h6>
                        {{/if}}

                        {{#if location}}
                            <h6>
                                <i class="fa fa-map-marker"></i>
                                <span>{{location}}</span>
                            </h6>
                        {{/if}}
                    </div>
                </div>
                
                {{#if courses.length}}
                    <ul>
                        {{#each courses}}
                            <li>{{.}}</li>
                        {{/each}}
                    </ul>
                {{/if}}
            </div>
        </section>
    {{/each}}
</section>
{{/if}}
