
{{#if position}}
<section class="position">
  <div class="header">
      <div class="bullet"></div>
      <h3 class="bold">{{position}}</h3>
  </div>

  <div class="content">
    {{#if startDate}}
      <h6>
        <i class="fa fa-calendar"></i>
        <span class="startDate">{{formatDate startDate}}</span>
        {{#if endDate}}
          <span class="endDate"> - {{formatDate endDate}}</span>
        {{else}}
          <span class="endDate"> - Present</span>
        {{/if}}
      </h6>
    {{/if}}

    {{#if duration}}
      <h6>
        <i class="fa fa-clock-o"></i>
        <span>{{duration}}</span>
      </h6>
    {{/if}}

    {{#if summary}}
      {{#each (split summary) }}
        <p>{{this}}</p>
      {{/each}}
    {{/if}}

    {{#if highlights.length}}
    <ul>
        {{#each highlights}}
        <li>{{.}}</li>
        {{/each}}
    </ul>
    {{/if}}
  </div>
</section>
{{/if}}