<section class="position">
  <div class="header">
    {{#if position}}

    <div class="bullet"></div>
    <h3 class="bold">{{position}}</h3>

    <h5 class="italic">
        {{#if startDate}}
            <span class="startDate">{{formatDate startDate}}</span>
            {{#if endDate}}
            <span class="endDate"> - {{formatDate endDate}}</span>
            {{else}}
            <span class="endDate"> - Present</span>
            {{/if}}
        {{else if releaseDate}}
            {{formatDate releaseDate}}
        {{/if}}
    </h5>

    {{/if}}

  </div>

  <div class="body">

    {{#if summary}}
    <p class="summary">{{summary}}</p>
    {{/if}}

    {{#if highlights.length}}
    <ul>
        {{#each highlights}}
        <li>{{.}}</li>
        {{/each}}
    </ul>
    {{/if}}

    <!--
    {{#if keywords.length}}
    <div class="flex-container">
        {{#each keywords}}
            <h6 class="skill">{{.}}</h6>
        {{/each}}
    </div>
    {{/if}}
    -->

  </div>
</section>